---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';

import { ClientRouter } from 'astro:transitions';

import { navbarLinks } from '../config/navbar';
import { bottomLinks } from '../config/bottom';

import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en" x-cloak x-data :class="{ 'dark': $store.theme.isDark }">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body
    class="bg-primary-50 text-primary-950 antialiased transition dark:bg-primary-950 dark:text-primary-200"
  >
    <Header links={navbarLinks} />
    <main>
      <slot />
    </main>
    <Footer bottomLinks={bottomLinks} />
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </body>
</html>
